.profile__info {
  padding-left: 30px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #fff;
  padding-top: 23px;
  grid-row: 1/ span 2;
  grid-column: 2/ span 3;
}

@media (max-width: 720px) {
  .profile__info {
    padding: 0;
    align-items: center;
    gap: 6px;
  }
}