.edit-popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 47px;
}

@media (max-width:480px) {
  .edit-popup__title {
    padding-bottom: 73px;
    font-size: 18px;
    line-height: 22px;
  }
}