.profile__title {
  display: flex;
  align-items: flex-end;
  gap: 19px;
  transform: translateY(-1px);
}

@media (max-width: 720px) {
  .profile__title {
    gap: 10px;
    transform: translateX(14px);
  }
}