.card__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/card__like-button.svg);
  background-repeat: no-repeat;
  margin: 30px 20px 30px 0;
  transition: .2s;
}

.card__like-button:hover {
  opacity: .5;
  cursor: pointer;
}