.elements {
  padding-top: 51px;
  padding-left: 0;
  width: calc(880/1280*100vw);
  max-width: 880px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
}

@media (max-width: 420px) {
  .elements {
    padding-top: 38px;
    width: calc(282/320*100vw);
    column-gap: 0;
    grid-template-columns: calc(282/320*100vw);
  }
}