.edit-popup__container {
  max-width: 430px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  position: relative;
}

@media (max-width:480px) {
  .edit-popup__container {
    width: calc(282/320*100vw);
    padding: 25px 22px;
  }
}