.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  height: 39px;
}

@media (max-width: 910px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    height: 26px;
  }
}