.popup__close-button {
  background-image: url(../../../images/popup__close-button.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  transition: .2s;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media (max-width:600px) {
  .popup__close-button {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}