@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/text-overflow/text-overflow.css);
@import url(../blocks/main/main.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/edit-popup/edit-popup.css);
@import url(../blocks/edit-popup/__close-button/edit-popup__close-button.css);
@import url(../blocks/edit-popup/__container/edit-popup__container.css);
@import url(../blocks/edit-popup/__input/edit-popup__input.css);
@import url(../blocks/edit-popup/__submit-button/edit-popup__submit-button.css);
@import url(../blocks/edit-popup/__title/edit-popup__title.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__caption/footer__caption.css);

.new-card-popup {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-card-popup__container {
  max-width: 430px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  position: relative;
}

.new-card-popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 47px;
}

.new-card-popup__close-button {
  background-image: url(../../../images/popup__close-button.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  transition: .2s;
  border: none;
}

.new-card-popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding: 0 0 9px 0;
  margin-top: 30px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
}

.new-card-popup__submit-button {
  margin-top: 48px;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: .2s;
}