.profile__info {
  padding-left: 30px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #fff;
  transform: translateY(23px);
}

@media (max-width: 720px) {
  .profile__info {
    padding: 0;
    align-items: center;
    transform: translateY(-3px);
    gap: 6px;
  }
}